body {
    background-image: url('resources/img/teste-dois.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f9f9f9; 
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    min-height: 100vh;
}


.agendamento-container {
    background-color: #fff; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    width: 450px; 
    height: 450px; 
    margin: auto; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.agendamento-container h1 {
    margin-bottom: 20px;
}

#agendamento-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#agendamento-form label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    text-align: left;
}

#especialidade, #data, #mensagem {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}


#especialidade {
    height: 40px;
}

#mensagem {
    height: 80px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-out; 
    width: 100%; 
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}
.menu-header, .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left; 
    width: 100%;
}

.menu-items {
    padding-top: 1,5%;
    display: flex;
    gap: 20px;
    width: 50%;
}

.menu-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px; 
    border: 2px solid #333; 
    border-radius: 10px; 
    transition: background-color 0.3s;
    
}


.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 6%;
}

.menu-item a:hover {
    background-color: #f0f0f0;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex; 
    align-items: center; 
}

.menu-item1 {
    display: flex;
    align-items: center; 
    margin-right: 20px; 
}

.menu-item1 p {
    margin-right: 10px;
}

.menu-item1 img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
}

.mensagem-sucesso {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #4caf50; 
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mensagem-sucesso img {
    width: 50px;
    height: 50px; 
    margin-bottom: 10px;
}

.logout-button {
    background-color: #d9534f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.logout-button:hover {
    background-color: #c9302c;
}

